<link href='https://fonts.googleapis.com/css?family=Averia Serif Libre' rel='stylesheet'>
<div id="course_wrap">

  <h1 id="home_title">College Car Rentals</h1>
  <p id="slogan">Now it's THEIR turn to make you money!</p>
  <div id="dad_home"><%= image_tag("dad.png", :height => "200", :width => "auto") %></div><div id="student_home"><%= image_tag("student.png", :height => "175", :width => "auto") %></div>
  <div id="car_home"><%= image_tag("car2.png", :height => "75", :width => "auto") %></div>
  <p id="btn_for_bergen"><%= link_to("Bergen County", "/cars/")%>


<div id="log_in_shift">
<h2 id="log_in_font">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
