<div id="course_wrap">

<body>
<link href='https://fonts.googleapis.com/css?family=Averia Serif Libre' rel='stylesheet'>
<div id="padding">
<div id="course_wrap">
<div id="text_in_show">
	<p id="car_in_town"><%= @car.year %> <%= @car.brand %> <%= @car.model%> in <%= @car.town%></p><br>
	<div id="image_resize"><%= image_tag @car.avatar(:thumb, :height => "300", :width => "auto") %></div><br>
	<div id="font_in_show">
		<%= number_with_delimiter(@car.mileage, :delimiter => ',')%> Miles<br><br>
		Available For Rent: <%= @car.available_on%><br>
		Expected Return Date: <%= @car.available_on%><br><br>
		Rent: $<%= @car.rent%><br><br><br>
	</div>
	</div>
	</div>
</div>
</div>


<div align="center">
  <h3>Interested? Send a message to owner, <%= @car.car_owner%></h3>

  <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
    <%= f.input :name, :required => true %><br>
    <%= f.input :email, :required => true %><br>
    <%= f.input :message, :as => :text, :required => true %>
    <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div>
      </br>
      <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
    </div>
  <% end %>
</div>


</body>
