<!DOCTYPE html>
<html>
  <head>
    <title>CarsDuringCollege</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

	

<link href='https://fonts.googleapis.com/css?family=Averia Serif Libre' rel='stylesheet'>
<div id="course_wrap">

	<h1 id="home_title">College Car Rentals</h1>
	<p id="slogan">Now it's THEIR turn to make you money!</p>
	<div id="dad_home"><%= image_tag("dad.png", :height => "200", :width => "auto") %></div><div id="student_home"><%= image_tag("student.png", :height => "175", :width => "auto") %></div>
	<div id="car_home"><%= image_tag("car2.png", :height => "75", :width => "auto") %></div>
	<p id="btn_for_bergen"><%= link_to("Bergen County", "/cars/")%>



    <%= yield %>
  </body>
</html>
